<!-- <p>peru works!</p> -->

<div>
    <div class="bg-blue-400 w-full p-4 font-bold my-4">
        <h1>MI PRIMERA APLICACION SPA</h1>
    </div>
    <div class="my-3">
        <div class="my-4">
            <label class="font-bold">Nombre del Pais: </label> <span>{{pais}}</span> 
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Flag_of_Peru_%28state%29.svg/800px-Flag_of_Peru_%28state%29.svg.png" alt="" width="200px">
    </div>
    <div>
        <label class="font-bold">Datos Generales:</label>
        <div class="text-justify">
            <p class="p-2">Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos. </p>
            <p class="p-2">El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.</p>
        </div>
    </div>
</div>
