<!-- <p>chile works!</p> -->

<div>
    <div class="bg-blue-400 w-full p-4 font-bold my-4">
        <h1>MI PRIMERA APLICACION SPA</h1>
    </div>
    <div class="my-3">
        <div class="my-4">
            <label class="font-bold">Nombre del Pais: </label> <span>{{pais}}</span> 
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/1200px-Flag_of_Chile.svg.png" alt="" width="200px">
    </div>
    <div>
        <label class="font-bold">Datos Generales:</label>
        <div class="text-justify">
            <p class="p-2">Chile es un país largo y angosto que se extiende por el borde occidental de Sudamérica, con más de 6,000 km de costa en el océano Pacífico. Santiago, su capital, se ubica en un valle rodeado de los Andes y la cordillera de la Costa. En la Plaza de Armas de la ciudad, bordeada de palmeras, se encuentra la catedral neoclásica y el Museo de Historia Nacional. El enorme Parque Metropolitano cuenta con piscinas, un jardín botánico y un zoológico</p>
            
        </div>
    </div>
</div>

