<!-- <p>sidebar works!</p> -->

<div class="p-10 bg-white h-full">
    <div class="my-5 border-b-2 w-full">
        <h2 class="font-bold"><a routerLink="/">Menu</a></h2>
    </div>
    <div>
        <ul>
            <li class="p-2" routerLinkActive="text-blue-600 font-bold"><a routerLink="/peru">Perú</a> </li>
            <li class="p-2" routerLinkActive="text-blue-600 font-bold"><a routerLink="/chile">Chile</a> </li>
            <li class="p-2" routerLinkActive="text-blue-600 font-bold"><a routerLink="/uruguay">Uruguay</a> </li>
        </ul>
    </div>
</div>
