<!-- <p>uruguay works!</p> -->

<div>
    <div class="bg-blue-400 w-full p-4 font-bold my-4">
        <h1>MI PRIMERA APLICACION SPA</h1>
    </div>
    <div class="my-3">
        <div class="my-4">
            <label class="font-bold">Nombre del Pais: </label> <span>{{pais}}</span> 
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/1200px-Flag_of_Uruguay.svg.png" alt="" width="200px">
    </div>
    <div>
        <label class="font-bold">Datos Generales:</label>
        <div class="text-justify">
            <p class="p-2">Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.</p>
            
        </div>
    </div>
</div>

